body {
    background-color: rgb(12, 1, 43);
    color: white;

    a:link {
        color:antiquewhite
    }
    a:visited {
        color:antiquewhite
    }
    a:hover {
        color: rgb(0, 2, 101);
    }

    .button1 {
        background-color: #35192d;
        border: 2px solid #2f2f2f;
        border-radius: 12px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1:hover {
        background-color: #05004f;
      color: white;
      }
}

