body {
    background-color: rgb(12, 1, 43);
    color: white;

    a:link {
        color:antiquewhite
    }

    a:visited {
        color:antiquewhite
    }
    a:hover {
        color: rgb(0, 2, 101);
      }

}

